body {
  margin:0;
  font-family:Arial;
  background:linear-gradient(135deg,#020617,#0f172a);
  color:white;
}

/* LAYOUT */
.layout {
  display:grid;
  grid-template-columns:220px 260px 1fr;
  height:100vh;
}

/* SIDEBAR */
.sidebar {
  background:#1e293b;
  padding:10px;
}

.folder {
  padding:6px;
  cursor:pointer;
}

/* NOTES PANEL */
.notes-panel {
  background:#0f172a;
  padding:10px;
}

.note-item {
  padding:8px;
  cursor:pointer;
}

/* EDITOR */
.editor-area {
  padding:15px;
}

.top-bar {
  display:flex;
  gap:10px;
  margin-bottom:10px;
}

input, select {
  padding:10px;
  border-radius:8px;
  border:1px solid #334155;
  background:#020617;
  color:white;
}

button {
  background:#2563eb;
  color:white;
  border:none;
  padding:8px;
  border-radius:6px;
  cursor:pointer;
}

.tool-bar {
  margin-bottom:10px;
}

.editor {
  min-height:400px;
  border:2px solid #38bdf8;
  padding:15px;
  border-radius:10px;
  background:#020617;
}

/* TODO */
.todo {
  display:flex;
  gap:10px;
  margin:5px 0;
}

/* TABLE */
table {
  width:100%;
  border-collapse:collapse;
  margin-top:10px;
}

td, th {
  border:1px solid #444;
  padding:6px;
}
